/* override the style guide, user agent and bootstrap's css, final render place*/

$bg-liimex-blue: rgb(0, 126, 255);
$bg-white: rgb(255, 255, 255);
$color-white: rgb(255, 255, 255);
$color-liimex-blue: rgb(0, 126, 255);


.bg-liimex-blue .bg-white{
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;    
  }
}

.bg-liimex-blue {
  nav {
    background-color: $bg-liimex-blue;
    border-color: $bg-liimex-blue;
    }
  .navbar-nav{
    li{
      a{
        color: $color-white;
        &:focus, &:hover {
        background-color: transparent;
        border-bottom: 1px rgb(179, 206, 255) solid;
        color: $color-white;
        }
        border-bottom: none;
        font-weight: 300;
        font-size: 12pt;
        line-height: 22pt;
      }
    }
   } 
}

.bg-white{
  nav{
    background-color: $bg-white;
    border-color:  $bg-white;
  }
  .navbar-nav {
    li{
      a{
        &:focus, &:hover {
        background-color: transparent;
        border-bottom: 1px rgb(179, 206, 255) solid;
        color: $color-liimex-blue;
        }
        color: $color-liimex-blue;
        border-bottom: none;
        font-weight: 300;
        font-size: 12pt;
        line-height: 22pt;
      }      
    }
   }
   .navbar-nav .active > a{
         background-color: $color-white;
         color: $color-liimex-blue;
         border-bottom: 1px rgb(179, 206, 255) solid;
         &:focus, &:hover {
        background-color: transparent;
        border-bottom: 1px rgb(179, 206, 255) solid;
        color: $color-liimex-blue;
        }
      }

  .navbar-header a{
    border-bottom:inherit;
  }
  .navbar-inverse .navbar-toggle .icon-bar{
    background-color:#000;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-brand  img {
    display: block;
    width: inherit;
    height: inherit;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    margin-top: 25px;
}
}
