ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: right;
}
/* override the user agent stylesheet */
/*a, a:visited, a:hover, a:active {
    text-decoration: none;
}
*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    border-bottom: 1px rgb(179, 206, 255) solid;
}
.nav a{
	border-bottom: none;
	color: rgb(255, 255, 255);
	text-transform: none;
}


.image-slider{
	margin-left: 40px;
}
/* override the nuka-carousel's "next", "prev" buttons and the bottom dots (buttons)thinge */
.slider-decorator-0{
	display: none;
}
.slider-decorator-1{
	display: none;
}
.slider-decorator-2{
	display: none;
}